* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
.course-container {
  padding: 16px;
}
.title-and-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #171f46;
  margin-bottom: 12px;
}
.duration-section {
  display: flex;
  align-items: center;
  font-size: 16px;
  min-width: 80px;
  color: #171f46;
}
.title {
  color: #171f46;
  font-size: 26px;
  font-weight: 600;
}
.description {
  color: #1e293b;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}
.tags-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tag {
  background-color: rgb(235, 232, 232);
  color: #1e293b;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 7px;
  border-radius: 2px;
  margin: 3px 5px;
}

@media (max-width: 767px) {
  .title-and-duration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .title {
    font-size: 19px;
    margin-bottom: 8px;
  }
  .tag {
    font-size: 11px;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 2px 3px;
  }
  .description {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .duration-section {
    font-size: 14px;
    min-width: 80px;
  }
}
